# Large language model (LLM) configuration
LLM_API_KEY=
LLM_API_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
LLM_MODEL=qwen-turbo

# 如果要使用地图api获取餐馆数据，将这个改为false即可
USE_MOCK=true

# Database configuration
# DB_USER=root
# DB_PASSWORD=123456
# DB_HOST=localhost
# DB_PORT=3306
# DB_NAME=what2eat
# 或者直接配置完整的 DB_URL
# DB_URL=mysql+aiomysql://root:123456@localhost:3306/what2eat

#下面是云数据库的配置 可以直接使用
DB_USER=manager
DB_PASSWORD=Root%40z666
DB_HOST=rm-bp1l57h2hust0ld80yo.rwlb.rds.aliyuncs.com
DB_PORT=3306
DB_NAME=what_to_eat
